/******************
   RIGHT COLUMN 
*******************/
.advertisements {
  flex: 2;
}
.advertisements .advert {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  text-align: center;
}
.advertisements .advert img {
  max-height: 200px;
}
.advertisements .advert h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 15px 0;
}
.advertisements .advert p {
  font-weight: 300;
  margin: 0 0 15px 0;
}
.advertisements .advert button {
  background: var(--color-twitter-blue);
  color: white;
  padding: 8px 12px;
  width: 100%;
  font-size: 15px;
  border-radius: 20px;
}

.advertisements .fa-stack i.fa-circle {
  color: var(--color-twitter-mid-gray);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.advertisements .fa-stack i.fa-user {
  color: var(--color-twitter-dark-gray);
  font-size: 24px;
  transform: translateY(6px);
}
