/******************
   LEFT COLUMN 
*******************/
.user-profile {
  flex: 3;
}
.card {
  background: white;
  height: 220px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-width: 175px;
}
.card-bg {
  flex: 1;
  background: var(--twitter-blue);
}
.card-content {
  flex: 1;
  background: white;
  display: flex;
}
.card-content .fa-stack {
  background: var(--twitter-blue);
  color: white;
  padding: 20px;
  border-radius: 50%;
  border: solid 3px white;
  margin-left: 10px;
  transform: translateY(-23px);
}
.card-content .fa-camera {
  transform: translateY(-16px);
}
.card-content .fa-plus {
  color: var(--twitter-blue);
  font-size: 8px;
  transform: translateY(11px);
}
.card-content .twitter-handle {
  margin-top: 10px;
  margin-left: 10px;
  letter-spacing: 0.2px;
}
.card-content .twitter-handle h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.card-content .twitter-handle p {
  color: var(--twitter-dark-gray);
  font-weight: 400;
}
.card-footer {
  height: 60px;
  margin: -20px 0px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.card-footer p {
  font-size: 14px;
  color: var(--twitter-dark-gray);
}
.card-footer span.metric {
  font-size: 20px;
  font-weight: bold;
  color: var(--twitter-blue);
  margin-top: -10px;
  display: block;
}


@media screen and (max-width: 740px) {
  .user-profile {
    display: none;
  }
}
